.card.productCard img {
    width: 100%;
    height: 200px;
}
.card.productCard {
    margin-bottom: 25px;
}       
p.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}